/* TMDB Color Palette: Primary Blue, Accent Green, Dark Text */
:root {
  --tmdb-blue: #032541;
  --tmdb-light-blue: #01b4e4;
  --tmdb-green: #90cea1;
  --tmdb-dark: #1e2021;
  --white: #fff;
  --tmdb-gray: rgba(0, 0, 0, .5);
  --tmb-light-gray: #c1c2c7;
  --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --tmdb-dark: #081c24;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif; /* Best guess for TMDB font */
  line-height: 1.6;
  background-color: var(--tmdb-light-gray);
  color: var(--tmdb-dark);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------- MAIN CONTENT ------------------- */
main h1 {
  font-size: 2rem;
  margin: 30px 0 20px;
}

.content-wrapper {
  display: flex;
  gap: 30px;
}


