/* Right Section (Movie Grid) */
.movie-list-section {
    flex-grow: 1;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 30px 20px;
}

/* Movie Card */
.movie-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    overflow: hidden;
    position: relative;
}

.movie-card img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-info {
    padding: 25px 10px 10px;
    position: relative;
}



.rating-circle.high { border-color: var(--tmdb-green); }
.rating-circle.medium { border-color: var(--yellow); }
.rating-circle.low { border-color: var(--red); }

.rating-circle {
  --progress: 0;
  --circle-color: var(--tmdb-dark);
  
  position: absolute;
  top: -20px;
  left: 10px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  background: conic-gradient(
    var(--circle-color) calc(var(--progress) * 1%),
    rgba(255, 255, 255, 0.15) 0
  );
}

.rating-circle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: var(--tmdb-dark);
  border-radius: 50%;
  z-index: 0;
}

.rating-circle span {
  position: relative;
  z-index: 1;
}

.movie-info h4 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.movie-info p {
    font-size: 0.9rem;
    color: #666;
}

.load-more-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 30px 0 50px;
    background-color: var(--tmdb-light-blue);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.load-more-btn:hover {
    background-color: #00a0cf;
}

@media(max-width:640px){
    .content-wrapper{
        flex-direction: column;
    }

}
